* {margin: 0px; padding: 0px;} /* margin es el margen exterior. padding, margen interior */
.primera_caja{
    background-color: orangered;
    height: 10%;
}
.segunda_caja{
    background-color: black;
    height: 80%;
}
.tercera_caja{
    background-color: orangered;
    height: 10%;
}
.primera_columna{
    float:left;
    height: 100%;
    width:25%;
}
.segunda_columna{
    float:left;
    height: 100%;
    width:50%;
    text-align: center;
}

.pelicula{
    float: left;
    height: 30%;
    width: 100%;
    background-color: blue;
    white-space: normal;
}
.poster{
    width: 100%;
    height: 100%;
}
.texto{
    color:red;
    text-align: left;
}

.contenedor{
    background-color: black;
    height: 100%;
    width: 100%;
}