* {margin: 0px; padding: 0px;} /* margin es el margen exterior. padding, margen interior */
.primera_caja{
    height: 12%;
}
.cajaUno{
    height:10%
}
.cajaDos{
    height: 90%;
}
.segunda_caja{
    padding-top: 0.5%;
    
    height: 83%;
    overflow: auto;
}
.tercera_caja{
    height: 4%;
}

.botonBonito {
    color: rgb(218, 218, 218);
    text-shadow: 1px 1px rgb(138, 138, 138);

    margin-top: 0.5%;
    margin-left: 48%;
    background-color: rgb(107, 107, 107);
    border: 1px solid rgb(0, 0, 0);
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
    font-size: 16px;
}

.botonBonito:hover{
    color: rgb(107, 107, 107);
    background-color: rgb(218, 218, 218);
    border: 1px solid rgb(0, 0, 0);
}

.mensajeError{
    text-align: center;
    vertical-align: middle;
    font-family: Consolas,monaco,monospace; 
    text-decoration: none;
    color: rgb(196, 196, 196);
    text-shadow: 1px 1px rgb(138, 138, 138);
}

.contenedor{
    background-image: url('../img/static.gif');
    background-size: cover;
}