* {margin: 0px; padding: 0px;} /* margin es el margen exterior. padding, margen interior */
.primera_caja{
    background-color: rgba(221, 152, 2, 0.781);
    height: 12%;
}

.botonBonito {
    color: rgb(255, 65, 17);
    text-shadow: 1px 1px rgb(185, 74, 0);

    margin-top: 0.5%;
    margin-left: 50%;
    background-color: rgb(211, 196, 60);
    border: 1px solid orangered;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
    font-size: 16px;
}

.botonBonito:hover{
    color: rgb(211, 196, 60);
    background-color: rgb(255, 65, 17);
    border:1px solid rgb(211,196,60);
}

.segunda_caja{
    padding-top: 0.5%;
    
    height: 83%;
    overflow: auto;
}
.tercera_caja{
    background-color: rgba(221, 152, 2, 0.781);
    height: 4%;
}
.primera_columna{
    float:left;
    height: 100%;
    width:25%;
}
.segunda_columna{
    float:left;
    height: 100%;
    width:50%;
    text-align: center;
}
.tercera_columna{
    float:left;
    height: 100%;
    width: 25%;
}

.pelicula{
    height: 30%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.541);
    white-space: normal;
    border-radius: 10px;
    margin-bottom: 1%;
    float: left;
}

.titulo{
    text-align: left;
    margin-left: 1%;
    font-size: 130%;
    width: 30%;
    color: rgb(255, 65, 17);
    text-shadow: 2px 2px rgb(97, 44, 1);
}

.votos{
    float: right;
    margin-right: 1%;
    margin-bottom: 1%;
    width: 6%;
    height: 5%;

    color: rgb(255, 65, 17);
    text-shadow: 2px 2px rgb(97, 44, 1);
}

.poster{
    float:left;
    width: 12%;
    height: 70%;
    margin-left: 1%;
    margin-top: 1%;
}
.poster img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 3px 2px rgb(87, 87, 87);
}
.duracion{
    margin-top: 5%;
    font-size: medium;
    color: rgb(255, 65, 17);
    text-shadow: 2px 2px rgb(97, 44, 1);
}
.texto{
    width: 78%;
    height: 70%;

    text-align: left;

    color: rgb(255, 65, 17);
    text-shadow: 2px 2px rgb(97, 44, 1);
    font-size: xx-large;

    margin-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    float: left;

    text-overflow: ellipsis;
    overflow:hidden;
}

#catPelis{
    text-align: center;
    margin-top: 1%;
    font-family: 'Kaushan Script', cursive;
    color: rgb(197, 1, 1);
    text-shadow: 2px 2px rgb(112, 11, 11);
}

.enlaceFicha{
    width: 95%;
    text-align: right;
    height: 10%;
}

.contenedor{
    height: 100%;
    width: 100%;
    display: inline;
    position: absolute;
    background-image: url('../img/shanfengTemple.jpg');
}

.titulo,.votos,.duracion,.texto,#catPelis,.enlaceFicha,.enlaceFicha:visited,.mensajeError{
    font-family: 'Kaushan Script', cursive;
    text-decoration: none;
    color: rgb(255, 65, 17);
    text-shadow: 2px 2px rgb(97, 44, 1);
}