* {margin: 0px; padding: 0px;} /* margin es el margen exterior. padding, margen interior */
.primera_caja{
    background-image: linear-gradient(90deg,#011f29,#082e39,#011f29);
    height: 15%;
}

.botonBonito {
    color: rgb(239, 255, 17);
    text-shadow: 1px 1px rgb(185, 74, 0);

    margin-top: 0.5%;
    margin-left: 50%;
    background-color: #0e4f61;
    border: 1px solid #000000;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
    font-size: 16px;
}

.botonBonito:hover{
    color: #0e4f61;
    background-color: rgb(191, 204, 12);
}

.segunda_caja{
    padding-top: 0.5%;
    background-image: url('../img/haunted_house.jpg');
    background-size: cover;
    height: 80%;
    overflow: scroll;
    overflow-x:hidden;
}

.tercera_caja{
    background-image: linear-gradient(90deg,#011f29,#082e39,#011f29);
    height: 4%;
}

.primera_columna{
    float:left;
    height: 100%;
    width:25%;
}
.segunda_columna{
    float:left;
    height: 100%;
    width:50%;
    text-align: center;
    color: white;
}
.tercera_columna{
    float:left;
    height: 100%;
    width: 25%;
}

.pelicula{
    height: 30%;
    width: 100%;
    
    background-color: #013a4d;
    white-space: normal;
    border-radius: 10px;
    margin-bottom: 1%;
    float: left;
}

.titulo{
    text-align: left;
    margin-left: 1%;
    font-size: 150%;
}


.votos{
    float: right;
    margin-right: 1%;
    margin-bottom: 1%;
    width: 6%;
    height: 5%;
}

.poster{
    float:left;
    width: 12%;
    height: 70%;
    margin-left: 1%;
    margin-top: 1%;
}
.poster img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 2px 2px rgb(73, 94, 1);
}
.duracion{
    margin-top: 5%;
    font-size: large;
}
.texto{
    width: 78%;
    height: 70%;

    text-align: left;
    font-size: xx-large;

    margin-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    float: left;

    
    text-overflow: ellipsis;
    overflow:hidden;
}

#catPelis{
    text-align: center;
    margin-top: 0.5%;
    font-size: 3rem;
    font-family: 'Hanalei Fill', cursive;
    -webkit-text-stroke: 1px greenyellow;
}

.enlaceFicha{
    width: 95%;
    height: 10%;
    text-align: right;
}

.contenedor{
    background-color: black;
    height: 100%;
    width: 100%;
}

.footer{
    width: 100%;
    background-color: red;
    height: 10%;
    left: 0;
    bottom: 0;
}

.titulo,.votos,.duracion,.texto,.enlaceFicha,.enlaceFicha:visited{
    font-family: 'New Rocker', cursive;
    text-decoration: none;
    color: rgb(163, 163, 4);
    text-shadow: 2px 2px rgb(105, 105, 3);
}