* {margin: 0px; padding: 0px;} /* margin es el margen exterior. padding, margen interior */
.primera_caja{
    background-color:turquoise;
    height: 25%;
}
.segunda_caja{
    background-color: red;
    height: 50%;
}
.tercera_caja{
    background-color: green;
    height: 25%;
}
.primera_columna{
    float:left;
    height: 100%;
    width:33.3%;
    background-color: red;
    color:white;
    text-decoration: none;
}
.primera_columna:visited{
    text-decoration: none;
}
.segunda_columna{
    float:left;
    height: 100%;
    width:32%;
    background-color: red;
    padding-left:20px;
}

h1, ol{
    padding-top: 5%;
    margin-left: 10%;
}

.contenedor{
    background-color: black;
    height: 100%;
    width: 100%;
}