* {
    margin: 0px;
    padding: 0px;
}

/* margin es el margen exterior. padding, margen interior */
.primera_caja {
    background-color: darkred;
    height: 25%;
    color: white;
}

.segunda_caja {
    background-color: red;
    height: 50%;
}

.tercera_caja {
    background-color: white;
    height: 10%;
}

.primera_columna {
    height: 10%;
    width: 100%;
    background-color: white;
    text-align: center;
}

.segunda_columna {
    height: 80%;
    width: 100%;
    background-color: navy;
    text-align: center;
}
.segunda_columna p{
    margin-top: 10px;
}

.triangulo {
    width: 0;
    height: 0;
    border-top: 325px solid transparent;
    border-bottom: 325px solid transparent;
    border-left: 400px solid rgb(167, 30, 30);
    position: absolute;
}

.contenedor {
    background-color: darkgreen;
    height: 100%;
    width: 100%;
}