*{
    margin: 0px;
    padding: 0px;
}

html,body{
    height: 100%;
    width: 100%;
    margin: 0%;
}

.contenedor{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: blue;
}

.resultadoPartido{
    height: 15%;
    width: 15%;
    margin-top: 10%;
    margin-left: 43%;

    background-color: rgba(0, 0, 0, 0.575);
    text-align: center;
}

.textoPartido{
    margin-top: 5%;
    color: yellow;
}

#tituloPartido{
    margin-top: 1%;
    color: red;
}