* {margin: 0px; padding: 0px;} /* margin es el margen exterior. padding, margen interior */
.primera_caja{
    background-color: navy ;
    height: 25%;
}
.segunda_caja{
    background-color: white;
    height: 25%;
}
.tercera_caja{
    background-color: rgb(2, 134, 2);
    height: 25%;
}
.cuarta_caja{
    background-color: rgb(214, 182, 2);
    height: 25%;
}
.primera_columna{
    height: 100%;
    width:20%;
    margin-left: 40%;
    background-color: darkred;
    position: absolute;
}

.contenedor{
    background-color: black;
    height: 100%;
    width: 100%;
    position: relative;
}