* {margin: 0px; padding: 0px; background-color: black;} /* margin es el margen exterior. padding, margen interior */
.primera_caja{
    background-color: rgb(255, 145, 0);
    height: 10%;
}
#boton_inicio{
    margin-left: 50%;
}
#boton_inicio:visited{
    color: blue;
}
#boton_inicio:hover{
    color: purple;
    text-shadow: 2px 2px red;
}
.segunda_caja{
    background-color: black;
    height: 80%;
}
.primera_columna{
    float:left;
    height: 100%;
    width:25%;
}
.segunda_columna{
    float:left;
    height: 100%;
    width:50%;
    text-align: center;
    color: white;
}
.tercera_columna{
    float:left;
    height: 100%;
    width: 25%;
}

.pelicula{
    height: 35%;
    width: 100%;
    background-color: rgba(0, 0, 255, 0.397);
    white-space: normal;
    border-radius: 10px;
    margin-bottom: 2%;
}

.titulo_pelicula{
    float: left;
    margin-left: 1%;
    height:5%;
}

.votos{
    float: right;
    margin-right: 1%;
}

.poster{
    float:left;
    width: 17%;
    height: 80%;
    margin:1% 0% 1% 1%;
}
.poster img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 3px 5px rgb(0, 0, 0);
}
.texto{
    width: calc(78%);
    height: calc(80%);

    text-align: left;
    overflow: auto;

    color: rgb(255, 65, 17);
    text-shadow: 2px 3px rgb(97, 44, 1);
    font-size: x-large;

    margin-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    float: left;
}

.contenedor{
    background-color: black;
    height: 100%;
    width: 100%;
}

.footer{
    width: 100%;
    background-color: red;
    height: 10%;
    left: 0;
    bottom: 0;
}